body {
    background: linear-gradient(#fcf5f8, #edeaf8, #eaf3fc, #dae8fa, #eaf3fc, #edeaf8, #fcf5f8);
    height: auto;
}
div.header__img a {
    font-size: 22px;
}

div.icon_section a {
    padding-left: 5px;
}